* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: row; /* Alineamos los elementos en fila */
    background-color: #cdcdcd;
    scroll-behavior: smooth; /* Esto habilita el desplazamiento suave */
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente oculto */
    width: 250px;
    height: 100%;
    background: linear-gradient(to bottom, #2f2f2f, #1e1e1e, #141414);
    transition: all 0.3s ease;
    padding-top: 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-left: 20px;
    display: block;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #f39c12; /* Efecto al pasar el ratón */
}

/* Estilo para los iconos que aparecen cuando el sidebar está cerrado */
.sidebar-icons {
    position: absolute;
    top: 50%;
    left: -40px; /* Mover los iconos fuera del borde del sidebar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    transition: left 0.3s ease;
}

.sidebar-icons i {
    font-size: 24px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
}

/* Estilo cuando el sidebar está abierto */
.sidebar:hover {
    left: 0;
}

/* Hacer que los iconos desaparezcan cuando el sidebar esté abierto */
.sidebar:hover .sidebar-icons {
    left: -50px;
}

main {
    margin-left: 250px; /* Deja espacio para el sidebar */
    padding: 20px;
    flex: 1;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

main section {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

footer ul li a:hover {
    color: #f39c12;
}

/* Animación del Sidebar */
.sidebar:hover {
    left: 0;
}

.sidebar, main {
    transition: all 0.3s ease;
}
